<div class="portfolio__content">
    <section class="portfolio__featured-project">
        <div class="section-inner">
            <div class="portfolio_content">
                <div class="item featured text-center">
                    <span class="project__title">
                        Cooming Soon.
                    </span>
                    <p class="project__subtitle-big">
                        <sup><i class="fa fa-quote-left" aria-hidden="true"></i></sup>
                        This page under development
                        <sup><i class="fa fa-quote-right" aria-hidden="true"></i></sup>
                    </p>
                </div>
            </div>
        </div>
    </section>
    <hr class="divider">
</div>