{{ define "header" }}
  {{ partial "header.html" . }}
{{ end }}

{{ define "content" }}
  {{ with .Site.GetPage "/about-me" }}
    <div class="post">
      <h1><strong>{{ .Title }}</strong></h1>
      {{ .Content }}
    </div>
  {{ end }}

  {{ with .Site.GetPage "/my-work-and-contact" }}
    <div class="post">
      <h1><strong>{{ .Title }}</strong></h1>
      {{ .Content }}
    </div>
  {{ end }}

  {{ with .Site.GetPage "/song-playlists" }}
    <div class="post">
      <h1><strong>{{ .Title }}</strong></h1>
      {{ .Content }}
    </div>
  {{ end }}
{{ end }}

{{ define "footer" }}
{{ if .Site.GoogleAnalytics }}
  <!-- Google Analytics -->
  {{ template "_internal/google_analytics_async.html" . }}
{{ end }}
{{ partial "footer/font-awesome-js.html" . }}
{{ end }}
