<!-- Sidebar -->
<div class="sidebar">
  <div class="container {{ with .Site.Params.sidebarSticky }}sidebar-sticky{{ end }}">
    <div class="sidebar-about">
      <span class="site__title">
        <a href="{{ .Site.BaseURL }}"><strong>{{ .Site.Params.title }}</strong></a>
      </span><hr/><br/>
      {{ with .Site.Params.authorimage }}
      {{ $strippedSlash := ($.Site.Params.authorimage | replaceRE "^(/)+(.*)" "$2") }}
      {{ $authorImage := (printf "%s%s" $.Site.BaseURL $strippedSlash) }}
      <div class="author-image">
        <img src="{{$authorImage}}" alt="Author Image" class="img--circle img--headshot element--center"> 
      </div>
      {{ end }}
      <p class="author__place">
        <i class="fa fa-map-pin"></i>&nbsp; 
        {{ with .Site.Params.place }} {{.}} {{ else }} Earth. {{end}}
      </p>
      <!-- <p class="site__description">
        {{ with .Site.Params.description }} {{.}} {{ else }} Your site's description {{end}}
      </p> -->
    </div>
    {{ partial "sidebar/menu.html" . }}
    <p>
      {{ partial "sidebar/social.html" . }}
    </p>
    <p class="copyright">
      {{ with .Site.Params.copyright }}{{.|safeHTML}}{{ else }}&copy; {{ now.Format "2006"}} {{.Site.Params.author}}.
      <a href="https://creativecommons.org/licenses/by-sa/4.0">All Rights Reserved</a>.
      <br/>
      Built with 💛
      {{end}}
    </p>
  </div>
  <div>
  </div>
</div>
